.latest-collection-container{
    max-width: 80vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 8vw;
    gap: 20px;
}